<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <title>{{title}}</title>

        <nav>
            <ul>
                <li><a class="active" href="/jobsearch">Job Search</a></li>
                <li><input class="search" type="text" name="search" placeholder="Search.."></li>
                <li><a href="/about">About</a></li>
                <li><a href="/companyreviews">Company Reviews</a></li>

                %if loggedIn is None:
                <form action="/login" method="post">
                    <input type="submit" value="Login">
                    <input type="text" placeholder="Password" name="password">
                    <input type="text" placeholder="Username" name="username">
                </form>
                %else:
                <li><p style="float: right;">Logged in as {{loggedIn}}</p></li>
                %end
            </ul>
        </nav>

    </head>

    <body>

    <div class="container">
            {{!base}}
        <div class="footer">
            Copyright &copy; 2018 Finneas Buick.
        </div>
    </div>
    </body>
</html>
