% rebase('base.html')


<div class="content">
        <div class="job">
            <div class="jobtitle">Junior Software Engineer</div>
            <div class="company">MedicalMaster</div>
            <div class="location">Sydney NSW</div>
            <div class="description">
                You are passionate about technology and writing high quality software. Delivering
                world class software that delights our customers and exceeds the expectations of...
            </div>
        </div>

        <div class="job">
            <div class="jobtitle">Junior Software Engineer</div>
            <div class="company">SXY Software</div>
            <div class="location">Sydney NSW</div>
            <div class="description">
                SXY Software is a leading provider of innovative software solutions for the
                Global Pasta industry. We are currently seeking a Junior Software Engineer to...2
            </div>
        </div>

        <div class="job">
            <div class="jobtitle">Junior Software Engineer - Flight Management</div>
            <div class="company">Ansett Airlines</div>
            <div class="location">Pyrmont NSW</div>
            <div class="description">
                Coordinating product development between several impacted developers across various
                Ansett sites. Experience as software developer in C++ in a Linux...
            </div>
        </div>


        <div class="job">
            <div class="jobtitle">Junior Full Stack Developer</div>
            <div class="company">Power People</div>
            <div class="location">Macquarie Park NSW</div>
            <div class="description">
                As a Junior Full Stack Developer, you will report into the Lead Developer in
                an Agile team and contribute to the development of world leading...
            </div>
        </div>


        <div class="job">
            <div class="jobtitle">Graduate - Junior Database SQL/BI Developer | BI Team Finance</div>
            <div class="company">9G Futures</div>
            <div class="location">Elsewood Park NSW</div>
            <div class="description">
                We are looking for a talented Grad to Junior level Database SQL Developer to
                work with the Business Intelligence IT team developing greenfield and brownfield
                data warehouse and in-house reporting solution to meet business requirements.
            </div>
        </div>

        <div class="job">
            <div class="jobtitle">Junior Software Engineer</div>
            <div class="company">MedicalMaster</div>
            <div class="location">Sydney NSW</div>
            <div class="description">
                You are passionate about technology and writing high quality software. Delivering
                world class software that delights our customers and exceeds the expectations of...
            </div>
        </div>

        <div class="job">
            <div class="jobtitle">Junior Software Engineer</div>
            <div class="company">SXY Software</div>
            <div class="location">Sydney NSW</div>
            <div class="description">
                SXY Software is a leading provider of innovative software solutions for the
                Global Pasta industry. We are currently seeking a Junior Software Engineer to...2
            </div>
        </div>

        <div class="job">
            <div class="jobtitle">Junior Software Engineer - Flight Management</div>
            <div class="company">Ansett Airlines</div>
            <div class="location">Pyrmont NSW</div>
            <div class="description">
                Coordinating product development between several impacted developers across various
                Ansett sites. Experience as software developer in C++ in a Linux...
            </div>
        </div>


        <div class="job">
            <div class="jobtitle">Junior Full Stack Developer</div>
            <div class="company">Power People</div>
            <div class="location">Macquarie Park NSW</div>
            <div class="description">
                As a Junior Full Stack Developer, you will report into the Lead Developer in
                an Agile team and contribute to the development of world leading...
            </div>
        </div>


        <div class="job">
            <div class="jobtitle">Graduate - Junior Database SQL/BI Developer | BI Team Finance</div>
            <div class="company">9G Futures</div>
            <div class="location">Elsewood Park NSW</div>
            <div class="description">
                We are looking for a talented Grad to Junior level Database SQL Developer to
                work with the Business Intelligence IT team developing greenfield and brownfield
                data warehouse and in-house reporting solution to meet business requirements.
            </div>
        </div>
    </div>